[submodule "contrib/libtb"]
	path = contrib/libtb
	url = https://github.com/stephenry/libtb.git
[submodule "contrib/libv"]
	path = contrib/libv
	url = https://github.com/stephenry/libv.git
[submodule "contrib/systemc"]
	path = contrib/systemc
	url = https://github.com/stephenry/systemc.git
